/* Fonts */

@import url(../fonts/fonts.css);

/* Base */

@import url(../css/base/reset.css);
@import url(../css/base/normalize.css);

/* Utils */

@import url(../css/utils/variables.css);
@import url(../css/utils/common.css);

@keyframes pulseScale {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.06;
  }
  100% {
    scale: 1;
  }
}

/* header */

.header {
  padding-top: 10px;
  padding-bottom: 40px;

  background-image: url(../img/header/background-2x.jpg);
  background-repeat: no-repeat;
  background-position: center top 30%;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .header {
    background-image: url(../img/header/background-3x.jpg);
  }
}

.header .short-course-info {
  color: #fff;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;

  margin-bottom: 30px;
}

.header .title {
  text-align: center;
  font-family: 'Bebas Neue Cyrillic';
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.88px;

  background: linear-gradient(90deg, #eaa800 0%, #ffeb80 50%, #eaa800 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  margin-bottom: 0;
}

.header .desc {
  color: #fff;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 95%; /* 19px */

  margin-bottom: 240px;
}

.header .desc span {
  font-weight: 500;
}

.header .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4px;

  margin-bottom: 12px;
}

.header .list-item {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 158px;
  height: 68px;

  padding: 8px 9px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
}

.header .list-item p {
  color: #090909;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 13px */
  letter-spacing: -0.39px;
}

.header .list-item p span {
  font-weight: 500;
}

.btn {
  display: block;

  color: #fff;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 120%; /* 19.2px */
  text-transform: uppercase;

  padding: 15px;
  border-radius: 80px;
  background: linear-gradient(90deg, #4a81ef 0%, #7db1ff 50%, #4a81ef 100%);

  max-width: 320px;
  width: 100%;
  margin: 0 auto;

  animation: pulseScale 1600ms infinite;
}

.header .timer-container {
  border-radius: 0px 0px 10px 10px;
  border-right: 1px solid #4a81ef;
  border-bottom: 1px solid #4a81ef;
  border-left: 1px solid #4a81ef;

  padding: 12px 20px;
  max-width: 240px;
  margin: 0 auto;
}

.header .timer-text {
  color: #090909;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 12px */
  letter-spacing: -0.36px;

  max-width: 200px;
  margin: 0 auto 4px auto;
}

/* timer */

.countdown {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

.countdown-number {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countdown-time {
  display: block;
  color: #4a81ef;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.64px;
  width: 40px;
}

.countdown-doubledot {
  content: ':';
  display: flex;

  color: #4a81ef;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 35.2px */
  margin: 0 auto;
}

/* for-whom */

.for-whom {
}

.for-whom .section {
}

.for-whom .container {
}

.for-whom .title {
  text-align: center;
  font-family: 'Bebas Neue Cyrillic';
  font-size: 57px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  background: linear-gradient(90deg, #4a81ef 0%, #7db1ff 50%, #4a81ef 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.for-whom .subtitle {
  color: #101010;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 18px */
  letter-spacing: -0.36px;
  text-transform: uppercase;

  margin-bottom: 30px;
}

.for-whom .subtitle span {
  font-weight: 500;
}

.for-whom .list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.for-whom .list-item {
  height: 365px;

  max-width: 320px;
  width: 100%;
  margin: 0 auto;
}

.for-whom .text-container {
  position: relative;
  margin-top: -133px;

  padding: 24px 10px;
  border-radius: 15px;
  background: #eef3fe;
}

.for-whom .item-title {
  color: #7db1ff;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 17.6px */
  letter-spacing: -0.32px;
  text-transform: uppercase;

  max-width: 260px;
  margin: 0 auto 5px auto;
}

.for-whom .item-text {
  color: #101010;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 16px */
  letter-spacing: -0.32px;
}

/* about-author */

.about-auhtor {
}

.about-auhtor .section {
}

.about-auhtor .container {
}

.about-auhtor .title {
  text-align: center;
  font-family: 'Bebas Neue Cyrillic';
  font-size: 57px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  background: linear-gradient(90deg, #4a81ef 0%, #7db1ff 50%, #4a81ef 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-auhtor .author-image {
  display: block;
  margin: 0 auto 20px auto;
}

.about-auhtor .name {
  color: #7db1ff;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 22px */
  letter-spacing: -0.4px;
  text-transform: uppercase;

  margin-bottom: 4px;
}

.about-auhtor .desc {
  color: #101010;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 100%; /* 16px */
  letter-spacing: -0.32px;

  max-width: 280px;
  margin: 0 auto 30px auto;
}

.about-auhtor .about-list {
  display: flex;
  flex-direction: column;
  gap: 12px;

  max-width: 320px;
  margin: 0 auto;
}

.about-auhtor .list-item {
  padding: 20px;
  border-radius: 10px;
  background: #ffedbe;
}

.about-auhtor .text-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.about-auhtor .text-item {
  color: #101010;
  font-family: 'Futura PT';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 16px */
  letter-spacing: -0.32px;
}

.about-auhtor .text-item span {
  font-weight: 500;
}

/* what-included */

.what-included {
  background-image: url(../img/what-included/background-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .what-included {
    background-image: url(../img/what-included/background-2x.jpg);
  }
}

.what-included .section {
}

.what-included .container {
}

.what-included .title {
  text-align: center;
  font-family: 'Bebas Neue Cyrillic';
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  background: linear-gradient(90deg, #eaa800 0%, #ffeb80 50%, #eaa800 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  margin-bottom: 40px;
}

.what-included .included-list {
  display: flex;
  flex-direction: column;
  gap: 30px;

  margin-bottom: 60px;
}

.what-included .list-item {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 24px 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  max-width: 300px;
  margin: 0 auto;
}

.what-included .number-image {
  position: absolute;
  left: 50%;
  top: -16px;

  transform: translate(-50%);
}

.what-included .item-text {
  color: #fff;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 95%; /* 15.2px */
  letter-spacing: -0.32px;
}

.what-included .item-text span {
  font-weight: 600;
}

.what-included .list-item:last-child .item-text {
  max-width: 240px;
  margin: 0 auto;
}

/* how long */

.how-long-wrapper {
  padding: 32px 20px;
  border-radius: 10px;
  background: #fff;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  margin-bottom: 60px;
}

.how-long-wrapper .long-title {
  color: #7db1ff;
  text-align: center;
  font-family: 'Bebas Neue Cyrillic';
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.how-long-wrapper .long-text {
  color: #090909;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 95%; /* 15.2px */
  letter-spacing: -0.32px;

  max-width: 240px;
  margin: 0 auto;
}

.how-long-wrapper .long-text span {
  font-weight: 500;
}

/* how-going */

.how-going {
  padding: 32px 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  margin-bottom: 40px;
}

.going-title {
  color: #fd5;
  text-align: center;
  font-family: 'Bebas Neue Cyrillic';
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-bottom: 20px;
}

.how-going-list {
  display: flex;
  flex-direction: column;
  gap: 8px;

  list-style: disc;

  max-width: 280px;
  margin: 0 auto;
}

.going-item {
  color: #fff;
  font-family: 'Futura PT';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 95%; /* 15.2px */
  letter-spacing: -0.32px;

  max-width: 240px;
  margin: 0 auto;
}

.going-item span {
  font-weight: 500;
}

/*  */

.this-game {
  color: #fff;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 95%; /* 15.2px */
  letter-spacing: -0.32px;

  max-width: 268px;
  margin: 0 auto 16px auto;
}

.this-game span {
  color: #fd5;
}

.what-included .btn {
  color: #090909;
  background: linear-gradient(90deg, #eaa800 0%, #ffeb80 50%, #eaa800 100%);
}

/* how-game-going */

.how-game-going {
}

.how-game-going .section {
}

.how-game-going .container {
}

.how-game-going .title {
  text-align: center;
  font-family: 'Bebas Neue Cyrillic';
  font-size: 46px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  background: linear-gradient(90deg, #4a81ef 0%, #7db1ff 50%, #4a81ef 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  margin-bottom: 32px;
}

.how-game-going .list-container {
  background-image: url('../img/how-game-going/line.svg');
  background-repeat: no-repeat;
  background-position: left 0 top 4px;
  background-size: 12px 173px;

  max-width: 286px;
  margin: 0 auto;
}

.how-game-going .list {
  display: flex;
  flex-direction: column;
  gap: 36px;

  max-width: 260px;
  margin: 0 0 0 auto;
}

.how-game-going .list-item {
  color: #080808;
  font-family: 'Futura PT';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 95%; /* 15.2px */
  letter-spacing: -0.32px;
}

.how-game-going .list-item span {
  font-weight: 500;
}

/* after-game */

.after-game {
}

.after-game .section {
}

.after-game .container {
}

.after-game .title-container {
  margin-bottom: 30px;
}

.after-game .title {
  text-align: center;
  font-family: 'Bebas Neue Cyrillic';
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  background: linear-gradient(90deg, #4a81ef 0%, #96c0ff 50%, #4a81ef 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.after-game .subtitle {
  margin-top: -20px;

  color: #101010;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 48px;
  font-style: normal;
  font-weight: 450;
  line-height: 90%; /* 43.2px */
  letter-spacing: -0.96px;
}

.after-game .list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  margin-bottom: 114px;
}

.after-game .list-item {
  position: relative;

  padding: 20px;
  border-radius: 5px;
  background: #ffedbe;
}

.after-game .emoji-image {
  position: absolute;
  left: 50%;
  top: -18px;

  transform: translate(-50%);
}

.after-game .item-text {
  color: #101010;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 16px */
  letter-spacing: -0.32px;
}

.after-game .item-text span {
  font-weight: 500;
}

/* buy-container */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.buy-container {
}

.buy-container .buy-box {
  position: relative;
  padding: 60px 0px 30px 0px;
  border-radius: 10px;
  background: #c6ddff;
}

.buy-container .buy-star-sell {
  position: absolute;
  left: 50%;
  top: -55px;

  transform: translate(-50%);

  width: 105px;
  height: 105px;
}

.buy-star-image {
  animation: spin 5000ms linear infinite;
}

.buy-container .sell-text {
  position: absolute;
  left: 50%;
  top: 50%;

  color: #fff;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.3px;

  transform: translate(-50%, -50%);
}

.buy-container .sell-text span {
  font-size: 26px;
  font-weight: 500;
  letter-spacing: -0.78px;
}

.buy-container .buy-text {
  color: #090909;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 19px;
  font-style: normal;
  font-weight: 450;
  line-height: 115%; /* 21.85px */

  max-width: 240px;
  margin: 0 auto 10px auto;
}

.buy-container .price-container {
  position: relative;

  max-width: 204px;
  margin: 0 auto 20px auto;
}

.line-thought {
  position: absolute;
  left: 0;
  top: 20px;

  display: block;
  height: 2px;
  width: 96px;

  transform: rotate(5deg);

  background-color: #080808;
}

.buy-container .price {
  color: #4b82ef;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 35.2px */
}

.buy-container .price span {
  font-size: 26px;
  font-weight: 400;
}

.buy-container .btn {
  max-width: 280px;
}

.buy-container .timer-container {
  padding: 20px;
  border-radius: 0px 0px 10px 10px;
  border-right: 1px solid #c6ddff;
  border-bottom: 1px solid #c6ddff;
  border-left: 1px solid #c6ddff;

  max-width: 280px;
  margin: 0 auto;
}

.buy-container .timer-text {
  color: #090909;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.buy-container .countdown-time {
  color: #c6ddff;
}

.buy-container .countdown-doubledot {
  color: #c6ddff;
}

/* reviews */

.bg-wrapper {
  background: #e3eeff;
}

.reviews-container {
  position: relative;
}

.reviews .container {
  padding: 0;
  max-width: 430px;
}

.reviews-title {
  color: #090909;
  font-family: 'Bebas Neue Cyrillic';
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  max-width: 320px;
  margin: 0 auto 26px auto;
}

.swiper {
  cursor: pointer;
}

.mySwiper1 {
  max-width: 430px;
}

.swiper-wrapper {
  margin-bottom: 40px;
  margin-left: -20px;
}

.swiper-pagination {
  --swiper-pagination-color: #4a81ef;
}

/* handmove */

.hand-move-container {
  position: absolute;
  top: 35px;
  right: 20px;

  display: flex;
  align-items: center;
  gap: 4px;

  margin-left: 50px;
}

.hand-move-text {
  color: #4a81ef;
  font-family: 'Futura PT';
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 12px */

  max-width: 99px;
}

.agit-box {
  background: #101010;
  padding-top: 60px;
  padding-bottom: 30px;

  max-width: 430px;
  margin: 0 auto;
}

/* questions */

.question-title-container {
  margin-bottom: 30px;
}

.questions-title {
  font-family: 'Bebas Neue Cyrillic';
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; /* 72px */
  text-transform: uppercase;

  background: linear-gradient(90deg, #4a81ef 0%, #7db1ff 50%, #4a81ef 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.questions-subtitle {
  color: #090909;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 48.232px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; /* 43.409px */
  letter-spacing: -1.447px;
  text-transform: uppercase;
}

/* questions */

.questions-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 320px;
}

.questions-item-svg {
  display: flex;
  align-items: center;
  width: 25px;
  height: 25px;

  flex-shrink: 0;
  background-image: url('../img/question-arrow.svg');
  background-size: 21px 12px;
  background-position: center;
  background-repeat: no-repeat;

  transform: rotate(0deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.questions-item.active .questions-item-svg {
  transform: rotate(180deg);
}

.questions-list .questions-item .questions-answer-container {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.questions-wrapper {
  min-height: 0;
}

.questions-list .questions-item.open .questions-answer-container {
  grid-template-rows: 1fr;
}

/*  */

.questions-item {
  padding: 20px;
  border-radius: 14px;
  background: #fff;
}

.questions-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.questions-item-title {
  color: #090909;
  font-family: 'Futura PT';
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 100%; /* 16px */
}

.questions-answer {
  padding-top: 20px;

  color: #090909;
  font-family: 'Futura PT';
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 15px */
}

/* footer */

.footer {
}

.fop-box {
  color: #090909;
  text-align: center;
  font-family: 'Helvetica Neue';
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 14.95px */
  letter-spacing: -0.13px;
  text-transform: uppercase;

  margin-bottom: 12px;
}

.fop-box .name {
  margin-bottom: 4px;
}

.mail-link {
  display: block;
  margin-bottom: 40px;
}

.mail-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.mail-box .mail {
  color: #090909;
  text-align: center;
  font-family: 'Helvetica Neue';
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 14.95px */
  letter-spacing: -0.13px;
  text-transform: uppercase;
}

.deals-box {
  color: #090909;
  text-align: center;
  font-family: 'Helvetica Neue';
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 14.95px */
  letter-spacing: -0.13px;
  text-transform: uppercase;

  margin-bottom: 60px;
}

.deals-link {
  display: block;
}

.deals-box .public {
  margin-bottom: 4px;
}

.dising-creator {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  color: #090909;
  font-family: 'Helvetica Neue';
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 14.95px */
  letter-spacing: -0.13px;
  text-transform: uppercase;

  max-width: 220px;
  margin: 0 auto;
}

.dising-creator span {
  color: #7db1ff;
  font-family: 'Helvetica Neue';
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 115%;
  letter-spacing: -0.13px;
  text-transform: uppercase;
}
